# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

ordered list
<ol>
<li>python</li>
<li>R</li>
<li>SQL</li>
<li>Java</li>
<li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
ordered list
1.python
2.R
3.SQL
4.Java
5.Julia

Data Science Tools

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

**Objectives:

unordered list

#List popular languages for Data Science
<ol>
<li>python</li>
<li>R</li>
<li>SQL</li>
<li>Java</li>
<li>Julia</li>
</ol>

## Author
Raj Mevada